/* MEDIA QUERIES NAVBAR,HOMEPAGE,PREMIUM,WORKOUTS1/2 dio*/

@media only screen and (max-width:1440px){
    #trainerbg h2{
        font-size:23px!important
    }
    #loseworkouts table{
        height:439px;
    }
    #gainworkouts table{
        height:390px;
    }
    #maintainworkouts table{
        height:390px;
    }
    
}

@media only screen and (max-width:1024px){
    #navbar{
        height:48px;
    }
    #loserow{
        font-size:12px;
    }
    #navbar a{
        font-size:20px!important
    }
    #homebg h1{
        font-size:86px!important;
    }
    #homebg h3{
        font-size:48px!important;
    }
    #trainerbg a{
        font-size:32px!important
    }
    #trainerbg h5{
        font-size:20px!important;
    }
    #trainerbg h2{
        font-size:20px!important;
    }
    #gaintrainer a{
        font-size:20px!important;
    }
    #cardiotrainer a{
        font-size:20px!important;
    }
    #maintaintrainer a{
        font-size:20px!important;
    }
    .offset1:before{
        display:block;
        content:"";
        height:48px;
        margin-top:-48px;
    }
    .offset2:before{
        display:block;
        content:"";
        height:48px;
        margin-top:-48px;
    }
    #loginbtn{  
        top:4px;
    }
    #logincontainer{
        top:48px;
    }
    #logincontainer h1{
        font-size:36px!important;
    }
    #atleanxtm a{
        font-size:20px!important;
    }
    #percent a{
        font-size:20px!important;
    }
    #loseworkouts table{
        height:481px;
    }
}

@media only screen and (max-width:1024px) and (max-height:1366px){
    #premiumprogram h2{
        font-size:26px!important;
    }
    #buybtn{
        width:275px!important;
    }
    #trainerbg h1{
        font-size:48px!important;
    }
}






@media only screen and (max-width:768px){
    #navbar a{
        font-size:13px!important;
    }
    #navbar{
        width:768px;
    }
    #atleanxtm a{
        font-size:20px!important;
    }
    #percent a{
        font-size:20px!important;
    }
    #calebphoto{
        height:318px!important;
    }
    #logo{
        width:48px;
        height:36px;
        padding-left:0;
    }
    #navbar ul{
        align-items: center;
    }
    #buybg h4{
        font-size:16px!important;
    }
    #calebphoto{
        width:227px;
        height:338px;
    }
    #trainerbg h5{
        font-size:18px!important;
    }

    #usa,#czech{
        display: none;
    }
    #loserow{
        display:flex;
        flex-direction: column;
        margin-right:0;
    }
    table{
        width:740px!important;
        margin-left:10px;
        height:300px!important;
    }
    .navbar-toggler{
        position:absolute;
        top:0;
        right:3px;
        margin-right:0;
    }
    #navbarNavDropdown ul{
        background-color:black;  
    }
    #cal{
        margin-right:0;
    }
    body{
        width:100%
    }
    #loginbtn{
        position:fixed;
        left:58px;
        top:4px;
        z-index: 100;    
    }
    #logincontainer{
        position:fixed;
        top:48px;
        right:518px;
        width:250px;
        height:400px;    
    }
    #row1{
        width:246px;
    }
    #logincontainer .form-control{
        height:28px;
        margin-top:10px;   
    }
    #logincontainer .input-group-text{
        height:28px;
        margin-top:10px;
    }
    #logincontainer p{
        font-size:14px;
    } 
    #lgnbtn{
        margin-bottom:4px;
    } 
    #lgnhr{
        width:220px!important;
    }
    #logincontainer br{
        display:none;
    }
    #logincontainer label{
        margin-top:10px;
    }
    #fbbtn{
        margin-bottom:10px;
    }
    #logincontainer a{
        font-size:14px!important;
    }
    footer h5{
        font-size:18px!important;
    }
    #carousel{
        height:auto;
    }
    
    #lose12 #losepic{
        width:100px;
    }
    blockquote{
        font-size:16px!important;
    }
    #loseimg{
        margin-top:50px;
    }
    #lose12 h5{
        font-size:20px!important;
    }
    #lose12 p{
        font-size:14px!important;
    }
    #lose12 li{
        font-size:14px!important;
    }
}
  

@media only screen and (max-width:768px) and (max-height:1024px){
    #trainerbg h5{
        font-size:15px!important;
    }
    #trainerbg h2{
        font-size:16px!important;
    }
}

@media only screen and (max-width:540px) and (max-height:720px){
    table{
        width:520px!important;
    }
    #trainerbg{
        height:auto;
    }
    #gainbtn,#cbtn{
        height:40px;
        margin-bottom:10px;
    }
    #lose12{
        display:flex;
        flex-direction:column;
        margin-right:0;
    }
    #lose4,#lose4b{
        display:flex;
        justify-content: center;
    }
    table{
        width:500px!important;
    }
    
    .navbar-toggler{
        position:absolute;
        top:0;
        right:230px;
    }
    .navbar-nav{
        width:540px!important;
    }
    #logincontainer{
        position:fixed;
        left:0;
        top:46px;
    }
    #cardnaslov{
        height:64px!important;
        padding:0;
        text-align:center;
    }
    #stevecard li{
        height:28px!important;
        padding:0;
        display:flex;
        align-items:center;
    }
    
    #loseimg{
        margin-top:15px;
    }
    #lose12 .card-body{
        height:62px!important;
        padding:0;
    }
    blockquote br{
        display:none;
    }
    #stevecard li{
        padding-left:10px;
    }
    #lquote{
        font-size:11px!important
    }
}

@media only screen and (max-width:425px){
    table{
        width:380px!important;
        
    }
    #trainerbg{
        height:auto;
    }
    #navbar{
        width:100%;
    }
    .navbar-toggler{
        position:absolute;
        top:0;
        right:0;
    }
    body{
        width:100%;
    }
    #lose12{
        display:flex;
        flex-direction: column;
        height:600px!important;        
    }
    #logincontainer{
        position:fixed;
        top:48px;
        left:0;
    }
    
    #lquote{
        font-size:12px!important;
    }
    #losepic{
        width:64px!important;
    }
    #stevecard p{
        font-size:12px!important;
    }
    #stevecard li{
        font-size:12px!important;
    }
    #cardnaslov{
        height:64px!important;
        padding:0;
        text-align:center;
    }
    #stevecard li{
        height:28px!important;
        padding:0;
        display:flex;
        align-items:center;
    }
    
    #loseimg{
        margin-top:15px;
    }
    #lose12 .card-body{
        height:62px!important;
        padding:0;
    }
    blockquote br{
        display:none;
    }
    
    #gainbtn,#cbtn{
        height:40px;
        margin-bottom:10px;
    }
    #homebg h1{
        font-size:64px!important;
    }
    #homebg{
        height:850px;
    }
    #logincontainer h1{
        font-size:42px!important;
    }
    #premiumbtn{
        width:160px;
        height:40px;
    }
    #homebg a{
        font-size:16px!important;
    }
    #buybtn{
        width:160px!important;
        height:40px!important;
    }
    #premiumprogram a{
        font-size:16px!important;
    }
    #stevecard li{
        padding-left:10px;
    }
    #homebg h3{
        font-size:36px!important;
    }
    #callc,#videosc{
        padding: 15px 15px;
    }
    
    
}
@media only screen and (max-width:375px){
    table{
        width:330px!important;
    }
    body{
        width:100%;       
    }
    #homebg h3{
        font-size:36px!important;
    }
}

@media only screen and (max-width:375px) and (max-height:667px){
    #homebg h3{
        font-size:36px!important;
    }
    .navbar-nav{
        width:375px!important;
    }
}

@media only screen and (max-width:375px) and (max-height:812px){
    #homebg h3{
        font-size:36px!important;
    }
}




@media only screen and (max-width:360px) and (max-height:640px){
    #homebg h1{
        font-size:46px!important;
    }
    #homebg h3{
        font-size:38px!important;
    }
    #homebg{
        height:640px!important;
    }
    #premiumbtn{
        width:160px;
        height:40px;
    }
    #homebg a{
        font-size:16px!important;
    }
    #premiumprogram a{
        font-size:22px;
    }
    blockquote{
        margin-top:-10px;
    }
    #lose4 p{
        font-size:11px!important;
    }
    .navbar-nav {
        width:360px!important;
    }
}



@media only screen and (max-width:320px){
    table{
        width:275px!important;
    }
    body{
        width:100%;
    }
    #homebg h1{
        font-size:48px!important;
    }
    #homebg h3{
        font-size:28px!important;
    }
}

@media only screen and (max-width:320px) and (max-height:568px){
    #lquote{
        font-size:11px!important;
    }
    #stevecard p{
        font-size:10px!important;
    }
}




@media only screen and (max-width:280px) and (max-height:653px){
    table{
        width:240px!important;
    }
    .navbar-nav{
        width:280px!important;
    }
    #homebg h1{
        font-size:48px!important;
    }
    #homebg h3{
        font-size:28px!important;
    }
    #cardnaslov p{
        font-size:10px!important;
    }
    #cardnaslov h5{
        font-size:14px!important;
    }
    #lquote{
        font-size:10px!important;
    }
}
